<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>模拟用户登陆</title>
</head>
<body>

    <div>
        <form id="login" action="/insertUser">
            用户名：<input type="text" id="name" name="name"/></br>
            
            密  码：<input type="password" id="password" name="password"/></br>
            联系方式：<input type="text" id="phone" name="phone"/></br>
            邮箱：<input type="text" id="Email_a" name="Email_a"/></br>
            角色：<input type="text" id="Administrator_a" name="Administrator_a"/></br>
            <input type="submit" value="登陆" >
        </form>
    </div>
</body>
</html>