<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>测试thymeleaf</title>
</head>
<body>
    <div>
       姓名： <tb th:text="${name}"></tb><br>
       年龄： <tb th:text="${age}"></tb><br>
       性别： <tb th:text="${sex}"></tb>
    </div>
    
    <form id="ff" action="/usertest/test2">
        姓名：<input type="text" name="username">
        密码：<input type="text" name="password">
        <input type="submit" value="提交表单">
    </form>
    <hr />
    <div shiro:hasPermission="user:add">
        进入用户添加功能：<a href="/usertest/add" style="color: #df0000"><strong>用户添加</strong></a><br>
    </div>

    <div shiro:hasPermission="user:update">
        进入用户更新功能：<a href="/usertest/update" style="color: #df0000"><strong>用户更新</strong></a>
    </div>

    <a href="/usertest/toLogin">登陆</a>
</body>
</html>